@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --bgImage-prim1 : #8e2de2; 
    --bgImage-prim2 : #734b6d; 
    --bgImage-prim3 : #42275a; 
  
    --bgImage-prim4 : #571B7E; 
    --bgImage-prim5 : #b559b9; 
    --bgImage-prim6 : #f172f8; 
    --bgImage-prim7 : #A23BEC; 
    --bgImage-prim8 : #C45AEC; 
    --bgImage-prim9 : #8420CE; 
   

    font-family: 'Montserrat', sans-serif;

    

}
.typewriter{
    font-size: 40px;
    font-style: italic;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #cc85e6; 
    border-radius: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#af65f0; 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #571B7E; 
  }

body{
    background: linear-gradient(90deg, var(--bgImage-prim1),var(--bgImage-prim2),var(--bgImage-prim3));
}

/* --Web-- */




.home-page{
    position: relative;
    margin-top: 4rem;
    height:800vh;

  
}
button:hover{
    box-shadow: -2px -2px 2px #efa3f3,
    -3px -2px 5px #efa3f3 ,
    -2px 2px 5px #bb75be, 
    -4px 2px 9px #ecc4ee ;
  }
  
  

.connect__walletBtn{
    position: absolute;
    top: 0;
    right: 2%;
    z-index: 1000;
    cursor: pointer;
    font-size: 15px;
    margin: 10px 0;
    font-weight: 700;
   
    border-radius: 10px;
    background: linear-gradient(40deg,#e31dee,#da7afd,#f14cfa,#c98ae0);
    border: 0;
    padding: 20px;
    height: 50px;
    color: #310b33;
}
.connect__walletBtn:hover{
    scale: 1.08;
    transition: all ease 200ms ;
}
.nav__div nav{
    position: fixed;
    top: 0;

    z-index: 20;
    background: linear-gradient(90deg,#c273f3,#b669e6,#ac4bec,#c98ae0);
    border: 1px solid #a44ac5;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    width: 100%;
    height: 65px;
    z-index: 1000;
   
    
}


.nav__div nav ul  {
    display: flex;

}
.nav__div nav ul li img{
    pointer-events: none;
   
    

  
}
.nav__div nav ul li{
    display: grid;
    place-items: center;
    cursor: pointer;
    
}
.nav__div nav ul li{
    list-style-type: none;
    text-align: center;
    margin: 0 5px;
    margin: 5px 10px;
}
.nav__div nav ul li:hover{
    scale: 1.1;
}



.nav__div nav ul li a{
    text-decoration: none;
}
.nav__div nav ul li a:hover{
    color: #310b33;
   
}
.nav__div nav a{
color:white;
}
.main-layout{
    background: url('./images/piggy image2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100%;
    width:100%;
    height: 700px;
   
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
   
}


.main-text-div p{
    text-align: justify;
    padding: 10px;
    color: #eca6f0;
    font-size: 20px;
    line-height: 25px;
}

.btn-div{
   
    text-align: center;
   
    position: absolute;
   
    top: 12%;
   


}

.buttons{
    padding: 12px;
    margin: 0 10px;
    padding: 25px;
    margin: 0 10px;
    border-radius: 10px;
    background: linear-gradient(40deg,#e31dee,#da7afd,#f14cfa,#c98ae0);
    border: 0;

    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
  
}
.buttons:hover{
        scale: 1.08;
        transition: all ease 200ms ;
    

}
.header__div{

 
    display: grid;
    margin-top: 80px;
    width: 100%;
    height: 600px;

    
}
.main-layout .header__div h1{

    background:linear-gradient(90deg , #af65f0,#a141dd,#712baa);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
   
    font-family: 'Roboto', sans-serif;
       text-align: justify;
       font-weight: 700;
       font-size: 50px;
    text-align: center;
 
    padding: 10px;
    z-index: 700;
}
.main-layout .header__div h1 span{
    color: #f3a9f7;
}
.header__div h1 div{
    margin-top: 5px;
}

.chartSvg{

    position: absolute;
}


.cryptoList{

   
    position: relative;

    padding: 10px;
    height: 800px;
  
 
    background: linear-gradient(90deg, var(--bgImage-prim4),var(--bgImage-prim2),#77337a);
}
.cryptoList h2{
    margin: 40px 0;
    font-size: 35px;
    font-weight: 800;
}
.crypto-details{
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: -5px 2px 7px #f172f8;
    padding: 10px;
   
    height: 600px;

}
.crypto-container{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 5px;
 
}
.crypto-container p{
    font-size: 14px;
    text-align: center;
  
    color: #340736;

}
.crypto-container .symb,.prices{
    font-weight: 800;
}
.crypto-container img{
    width: 30px;
}
.crypto-headers p{
    font-size: 20px;
    color: #340736;
}
.crypto-headers{
    
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 0.1fr 1fr 1fr 1fr;
        text-align: center;
        padding: 5px;
        font-size: 14px;
        font-weight: 700;
     
    }

    
    /* Service section */

    .service__div{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        place-content: center;
    
        margin-top: 200px;
       
       
    }
    .services{
        text-align: center;
        width: 300px;
        height: 400px;
        margin: 10px;
        text-align: center;
        display: grid;
        place-items: center;
    
    

    }
    .services p{
        text-align: center;
        line-height: 25px;
        padding: 10px;
    }

 
    .services h2{
        text-align: center;
        margin: 10px 0;
      
    }

    .service img{
        width: 240px;
        height: 240px;
        font-weight: 800;
        object-fit: contain;
        text-align: center;
    }



    /* Steps Component */
    .steps__main{
        margin-top: 150px;

    }
    .steps__main h2,.connect__walletButton{
        margin: 50px;
        text-align: center;
      
        font-size: 20px;
    }
    
    .steps__section{
       
        display: grid;
        text-align: center;
        grid-auto-flow: column;
    }

    .steps__div{
        display: grid;
        place-items: center;
  
    }
    .steps__div p{
        padding: 10px;
    }
    .steps__div img{
        width: 250px;
        height: 250px;
        object-fit: cover;
        border: 1px solid #c98ae0;
    }
    .steps__section span{
       display: grid;
       place-items: center;

    }
    .connect__walletButton{
  
       border-radius: 10px;
      
       border: 0;
       font-size: 35px;
       padding: 20px;
       padding-left: 0;
     
       color: #310b33;

       text-decoration: none;
       text-align: center;
    
    
   }
   .connect__walletButton:hover{
    color: #af65f0;
   }


   .getStarted__div{
    margin-top: 30px;
    text-align: center;
    
   }


   

    /* Reviews Div */
    .review__section {
        margin-top: 80px;
    }
    .review__section div h2{
        text-align: center;
        margin: 50px 0;
        font-size: 35px;
    }
    .reviews__div{
        display: grid;
        place-items: center;
      
        
    }

    .reviews__div img{
     
            width: 200px;
            height: 200px;
            object-fit: contain;
            margin: 10px 0;
           
        

    }
.reviews{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.reviews__div .reviews__text {
 
    text-align: center;
   
    background: transparent;
    color: #ffffff;
    font-size: 15px;
    padding: 10px; 
    line-height: 20px;
}
.quote__div{
    display: grid;
     box-shadow: -8px 8px 5px #f172f8;
     text-align: center;
     height: 200px;
  
     border: 1px solid #ffffff;
     margin: 0 10px;
    
     color: #ffffff;

}
.reviews__div .reviews__author {
    margin-top: 10px;
}




   /* Footer  */
  
    .footer{
        position: absolute;
        bottom: 1%;
        width: 100%;
     
    }

    .footer__container{

        display: grid;
        grid-auto-flow: column;
        text-align: justify;
        padding: 10px;
       
      
      
    }
    .footer__container h3{
        margin-bottom: 10px;
        color: #1b0f25;
    }
    .footer__container ul li{
        list-style-type: none;
        font-size: 13px;
        padding: 5px;
    }
    .footer__container ul li a{
        text-decoration: none;
        color: #c98ae0;
    }
    .footer__container ul li a:hover{
        
        color: #330942;
    }
    .footers{
        display: grid;
   
    }

    .connect__walletBtn{
        padding: 10px;
    }

    /* Componets */

    /* Savings Component */

.save_main{
    margin-top: 100px;
}

.savings__div{
    
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.save_main h2{
text-align: center;
    margin: 20px 0;
    padding: 20px;
    font-size: 30px;
    font-weight: 800;
}
.save_main h2 span{
   color: #f3a9f7; 
}
.savings__div .save img{
    width: 250px;
    height: 250px;
    padding: 15px;
   
}
.savings__div .save:hover{
    scale: 1.05;
    border: 3px solid #A23BEC;
    transition: all ease 200ms;
}
.save h3 > span{
    color: #f3a9f7; 
}


.save{
    width: 330px;
    height: 330px;
    padding: 10px;
    border: 1px solid #A23BEC;
    border-radius: 5px;
}
.savings__div .rate{
    color:  #00FF00;
}

/* Courses Components */

.course__btn{
    cursor: pointer;
    text-align: center;
    padding: 12px;
    margin: 0 10px;
    padding: 25px;
    margin: 0 10px;
    border-radius: 10px;
    background: linear-gradient(40deg,#c559ca,#a44ac5,#d464da,#c98ae0);
    border: 0;
  

}
.course__btn:hover{
    scale: 1.09;
    transition: all ease 100ms;
}



/* Courses  */



.course {
    text-align: center;
}
.course p{
    text-align: justify;
    line-height: 22px;
}
.course__div{
   
   width: 500px;
   height: 600px;

}

.course img{

    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 10px 0;

}
.learn__main {
    margin-top: 100px;
}
.learn__div{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    justify-content: space-evenly;
}
.learn__div h2{
    
        margin-top: 50px;
        text-align: center;
    margin: 20px 0;
    padding: 20px;
    font-size: 30px;
    font-weight: 800;
    color: #1b0f25;
    
}



/* Account */
.account__main{
    height: 150vh;
}
.account__div{
  
    margin-top: 100px;
    display: grid;
    grid-template-rows: 30% 70%;

}
.account__details{
    display: grid;
    text-align: center;
    place-items: center;

}
.vault__history{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  
    
}
.plans{
    display: grid;
    justify-content: center;
}
.vault{
    margin-top: 10px;
   
    border-right: 4px solid #330942;
  
}
.vault h3{
    margin-left: 10px;
}
.save__btnDiv,.invest__btnDiv{
 
    width: 200px;
    height: 100px;
    border: 3px solid #af65f0;
    border-radius: 5px;
    display: grid;
    place-items: center;

}
.vault h4{
    margin: 20px 0;
}


.save__btn,.invest__btn{
  
   padding: 15px;
cursor: pointer;
text-align: center;


border-radius: 10px;
background: linear-gradient(40deg,#c559ca,#a44ac5,#d464da,#c98ae0);
border: 0;
}
.save__btnDiv:hover,.invest__btnDiv:hover{
    scale: 1.05;
    transition: all ease 100ms;
}
.history{
    display: grid;
    margin-left: 10px;

}

.history h4,p{
    padding: 0 10px;
    margin-bottom: 10px;
}
.details_header{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}
.details__div{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}
.details__div a{
    text-decoration: none;
    color: #330942;
}
.account__details img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.account__details span{
    font-weight: 800;
    padding: 10px;
}



    /* Investment Component */

    .investment__container{
        margin-top: 100px;
        display: grid;
        height: 200vh;
      

    }

    .investment__container h2{
      
        text-align: center;
  
    margin-bottom: 0;
    padding: 20px;
    font-size: 30px;
    font-weight: 800;
    color: #1b0f25;
    }
    .investment__div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      
    }
    .investment__container h2 span{
        color: #f3a9f7; 
     }

    .packages{
        display: grid;
        place-items: center;
        width: 100px;
      
        margin: 20px;
        height: 150px;
        padding: 5px;
        z-index: 2;
        width: 330px;
        margin-top: 0;
      
        padding: 10px;
        border: 1px solid #A23BEC;
        border-radius: 5px;
        /* border: 1px solid red; */
        cursor: pointer;
    }
    .packages:hover{
        
        scale: 1.05;
        border: 3px solid #A23BEC;
        transition: all 300ms ease;

    }

    .apr-div span{
        color: #00FF00;
    }
    .course__duration,.course__level{
        font-size: 16px;
        font-weight: 700;
        color: #dca6fd;
    }








/* ----Moblie---- */
@media only screen and (max-width:730px) {

    .home-page{
       
        height:1200vh;
    
      
    }

.main-layout{
    
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
    background-position: center center;
    background-size: contain;

    width:100%;
    height: 1300px;
  background: url('./images/DreamShaper_v7_hyper_realistic_bank_deposit_illustration_with_0.jpg');


}
.main-layout img{
    display: none;
}
.main-text-div p{
    background: linear-gradient(90deg, var(--bgImage-prim3),var(--bgImage-prim2),#6e0a74);
    border-radius: 10px;
}

.main-text-div p{
    text-align: justify;
    padding: 10px;
    font-size: 14px;
    color: #d49df8;
    font-weight: 700;
    margin-top: 900px;
 

   
}


.header__div{
    justify-content: space-evenly;
    
    margin-top: 30px;
    width: 100%;
    height: 300px;

    
}
.main-layout .header__div h1{
    background:linear-gradient(90deg , #b455d6,#c77ff8,#ef84f5);
  -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
   
    font-family: 'Roboto', sans-serif;
       text-align: justify;
       font-weight: 800;
    font-size: 38px;
 
}
.piggy-img{
    height: 600px;
    
}
.btn-div{
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 14%;
  
  transform: -50% 50%;
   
}
.btn-div a:hover{
    box-shadow: -2px -2px 2px #efa3f3,
    -3px -2px 5px #efa3f3 ,
    -2px 2px 5px #bb75be, 
    -4px 2px 9px #ecc4ee ;

}

.buttons{
    padding: 20px;
    margin: 0 10px;
    border-radius: 10px;
    background: linear-gradient(40deg,#c559ca,#a44ac5,#d464da,#c98ae0);
    border: 0;
    text-decoration: none;
    color: #1b0f25;
}

.chartSvg{

    position: absolute;
}
.cryptoList{
    background: transparent;
   
    position: relative;
    padding: 5px;
    height: 850px;
    border-radius: 10px;
   

}
.cryptoList h2{
    color: #340736;
    font-size: 30px;
}
.crypto-details{
    margin-top: 5px;
}
.crypto-container{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 5px;
 
}
.crypto-container p{
    font-size: 12px;
    text-align: center;

}
.crypto-container img{
    width: 20px;
}
.crypto-headers{
    
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 0.1fr 1fr 1fr 1fr;
        text-align: center;
        padding: 5px;
        font-size: 14px;
      
        font-weight: 700;
     
    }
    .crypto-headers p{
        font-size: 13px;

    }
   



    /* Services */



.service__div{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    place-content: center;

    margin-top: 100px;
   
   
}
.services{
    
    width: 300px;
    height: 300px;
    margin: 10px;


}
.services p{
   
    line-height: 20px;
    padding: 5px;
    text-align: justify;
}


.services h2{
    text-align: center;
    margin: 5px 0;
  
}


.service img{
    width: 150px;
    height: 150px;
    font-weight: 800;
    object-fit: contain;
    text-align: center;
}


.service__div{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    place-items: center;
}


    /* reviews */
    .reviews__div{
        display: grid;
        place-items: center;
    }
    .reviews{
        overflow-x: scroll;
        height: 400px;
        
    }
    .reviews::-webkit-scrollbar {
      width: 20px;
      
    
    }
    
    /* Track */
    .reviews::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
      
    }
     
    /* Handle */
    .reviews::-webkit-scrollbar-thumb {
      background: #a53faa; 
      border-radius: 10px;
      
    }
    
    /* Handle on hover */
    .reviews::-webkit-scrollbar-thumb:hover {
      background:  #f172f8;
  
    }

    .reviews__div img{
     
            width: 120px;
            height: 120px;
            object-fit: contain;
            margin: 10px 0;
           
        

    }
    .quote__div{
        display: grid;
        width: 200px;
        height: 200px;
        padding: 10px;
        
    }


    .reviews__div .reviews__text {
 
        font-size: 13px;
     
    }
    .reviews__div .reviews__author{
        font-size: 14px;
    }






    /* Steps Component */
    .steps__main{
        margin-top: 150px;

    }
 .connect__walletButton{
        margin: 50px;
        text-align: center;
      
        font-size: 20px;
    }
    
    .steps__section{
       
        display: grid;
        text-align: center;
        grid-auto-flow: row;
    }

    .steps__div{
        display: grid;
        place-items: center;
  
    }
    .steps__div p{
        padding: 10px;
    }
    .steps__div img{
        width: 120px;
        height: 120px;
        object-fit: cover;
    
    }
    .steps__section span{
       display: grid;
       rotate: 90deg;
       place-items: center;
       margin: 10px 0;

    }

    .connect__walletButton{
  
        border-radius: 10px;
       
        border: 0;
        font-size: 25px;
    }


    

   /* Footer  */
  
   .footer{
    position: absolute;
    bottom: 1%;
    width: 100%;
 
}

.footer__container{

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 10px;
   
  
  
}
.footer__container h3{
    margin-bottom: 10px;
    color: #1b0f25;
}
.footer__container ul li{
    list-style-type: none;
    font-size: 11px;
    padding: 5px;
}
.footer__container ul li a{
    text-decoration: none;
    color: #c98ae0;
}
.footer__container ul li a:hover{
    
    color: #330942;
}
.footers{
    display: grid;

}

/* Nav Components */

/* Save */


.save_main{
    margin-top: 100px;
    height: 180vh;
}


.save_main h2{

    margin: 20px 0;
    padding: 20px;
    font-size: 25px;
 
}

.savings__div .save img{
    width: 160px;
    height: 160px;
    padding: 15px;
   
}
.savings__div .save:hover{
  
    border: 3px solid #A23BEC;
 
    
    transition: all ease 200ms;
}

.save{
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 1px solid #A23BEC;
    border-radius: 5px;
    margin: 10px 10px;
}
.savings__div .rate{
    color:  #00FF00;
}




    /* Investment Component */

    .investment__container{
        margin-top: 100px;
        display: grid;
      

    }

    .investment__container h2{
        margin-top: 50px;
        text-align: center;
    font-weight: 800;
    color: #1b0f25;
    margin: 20px 0;
    padding: 20px;
    font-size: 25px;
    }

  
    .packages{
        display: grid;
        place-items: center;
        min-width: 50px;
        margin: 20px;
        min-height: 50px;
        padding: 5px;
        z-index: 2;
        width: 330px;
      
        padding: 10px;
        border: 1px solid #A23BEC;
        border-radius: 5px;
        /* border: 1px solid red; */
        cursor: pointer;
    }
    .packages:hover{
        
        
        border: 3px solid #A23BEC;
        transition: all 30ms ease;

    }

    .apr-div span{
        color: #00FF00;
    }
    .course__duration,.course__level{
        font-size: 16px;
        font-weight: 700;
        color: #dca6fd;
    }




/* Courses Components */

.course__btn{
    cursor: pointer;
    text-align: center;
    padding: 12px;
    margin: 0 10px;
    padding: 25px;
    margin: 0 10px;
    border-radius: 10px;
    background: linear-gradient(40deg,#c559ca,#a44ac5,#d464da,#c98ae0);
    border: 0;
  

}
.course__btn:hover{
    
    transition: all ease 100ms;
}



/* Courses  */



.course {
    text-align: center;
}
.course p{
    text-align: justify;
    line-height: 20px;
}
.course__div{
   
   width: 300px;
   height: 650px;

}

.course img{

    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 10px 0;

}
.learn__main {
    margin-top: 100px;
}
.learn__div{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    justify-content: space-evenly;
}
.learn__div h2{
    
        margin-top: 50px;
        text-align: center;
    margin: 20px 0;
    padding: 20px;
    font-size: 25px;
    font-weight: 800;
    color: #1b0f25;
    
}

/* Account */

.connect__walletBtn{
    top: 10%;
}



/* Account */
.account__main{
    height: 150vh;
}
.account__div{
  
    margin-top: 100px;
    display: grid;


}
.account__details{
    display: grid;
    text-align: center;
    place-items: center;

}
.vault__history{
  
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;

    
}
.plans{
    display: grid;
    justify-content: center;
}
.vault{
    margin-top: 10px;
   
    border-bottom: 4px solid #330942;
  
}
.vault h3{
    margin-left: 10px;
}
.save__btnDiv,.invest__btnDiv{
 
    width: 150px;
    height: 150px;
    border: 3px solid #af65f0;
    border-radius: 5px;
    display: grid;
    place-items: center;
    margin: 10px 0;
    padding: 10px;

}
.vault h4{
    margin: 20px 0;
}


.save__btn,.invest__btn{
  
   padding: 15px;
cursor: pointer;
text-align: center;


border-radius: 10px;
background: linear-gradient(40deg,#c559ca,#a44ac5,#d464da,#c98ae0);
border: 0;
}
.save__btnDiv:hover,.invest__btnDiv:hover{
    
cursor: pointer;

    transition: all ease 100ms;
}
.history{
    display: grid;
    margin-left: 10px;

}
.history h3{
    margin-top: 20px;
}

.history h4,p{
    padding: 0 10px;
    margin-bottom: 10px;
}
.details_header{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}
.details__div{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}
.details__div a{
    text-decoration: none;
    color: #330942;
}
.account__details img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.account__details span{
    font-weight: 800;
    padding: 10px;
}










    
}



